<a href="https://colab.research.google.com/github/sharmasimran/regression/blob/master/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import numpy as np

In [55]:
calif_df= pd.read_csv('/content/sample_data/california_housing_train.csv')

In [48]:
#checking null values
calif_df.isna()
calif_df.isnull()

       longitude  latitude  ...  median_income  median_house_value
0          False     False  ...          False               False
1          False     False  ...          False               False
2          False     False  ...          False               False
3          False     False  ...          False               False
4          False     False  ...          False               False
...          ...       ...  ...            ...                 ...
16995      False     False  ...          False               False
16996      False     False  ...          False               False
16997      False     False  ...          False               False
16998      False     False  ...          False               False
16999      False     False  ...          False               False

[17000 rows x 9 columns]

In [56]:
from sklearn.linear_model import LinearRegression
calif_test_df=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [57]:
reg=LinearRegression()
reg.fit(calif_df.drop('median_house_value',axis=1),calif_df.median_house_value)
#reg.fit(calif_test_df.drop('median_house_value',axis='columns'),calif_test_df.median_house_value)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [58]:
reg.coef_

array([-4.31396373e+04, -4.29256731e+04,  1.15069493e+03, -8.37825121e+00,
        1.17648543e+02, -3.84887721e+01,  4.54360026e+01,  4.05070684e+04])

In [59]:
reg.intercept_

-3620600.8929739078

In [60]:
#checking how much correct the model is: 


#importing the test data

X=calif_test_df.drop('median_house_value',axis=1)

predictionLinear = reg.predict(X)

In [63]:
reg.score(X,calif_test_df.median_house_value)

0.6195057678312047

# New Section